.musicCards {
  align-items: center;
  border: 1px solid rgb(231, 231, 231);
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  padding: 10px;
}

.musicCards-span {
  width: 200px;
}

.musicCards-audios {
  margin-right: 30px;
}
