.search-header-section {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px;
}

.search-img-section {
  height: 80px;
}

.user-info-section {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  display: flex;
  margin-top: 15px;
  padding: 0 10px;
  width: 200px;
}

.userinfo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
